

.header {
  display: flex;
  gap: 50px;
  align-items:center;
  padding: 2vh;
  padding-left: 25vw;
  
}

.logogroup{
  display: flex;
  gap: 10px;
  align-items: center;
  
  
}

.logogroup:hover .txtlogo{
    opacity: 1;
}

.txtlogo{
    opacity: 0%;
    height: 3.5vh;
    transition: opacity 0.3s ease;
}

.logolink img{
    display: block;
}


.header nav {
  display: flex;
  gap: 100px;
  padding: 0vh 2vw;
  align-items:center;

  position: relative;
}

.header nav a{
    color: black;
    text-decoration: none;
    font-weight:500;
}
.header nav a:hover {
    color: grey;
}
.header nav a.active {
    color: black;
}


.indicator {
    transition: left 0.3s ease, width 0.3s ease;
    position: absolute;
    bottom: -8px;
    height: 5px;
    background: url('../assets/navunderline.svg') no-repeat;
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: center;
}

